* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /*Flexbox */
  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/hero-background.png') no-repeat center center/cover; 
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  
  .hero-content .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .hero-content .button:hover {
    background-color: #45a049;
  }
  
/*grid layout*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #839175;
  }
  
  header .logo {
    width: 150px;
  }
  
  nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #4CAF50;
  }
  

  .hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }

  @media (max-width: 768px) {
 
    .nav-links {
      display: none;
      width: 100%;
      flex-direction: column;
      background-color: #839175;
      position: absolute;
      top: 80px; 
      left: 0;
      padding: 20px 0;
    }
  
    .nav-links li {
      margin-left: 0;
      margin-bottom: 10px;
      text-align: center;
    }
  
    .nav-links li a {
      font-size: 1.25rem;
    }
  

    .hamburger-menu {
      display: block;
    }
  
  
    .nav-links.active {
      display: flex;
    }
  }


  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
  }
  
  section img {
    max-width: 100%;
    border-radius: 8px;
   
  }
  
  h2, h3 {
    color: #333;
  }
  
  section p {
    font-size: 1rem;
    color: #555;
  }
  
  .section-one {
    background-color: #f4f4f4;
  }
  
  .section-two {
    background-color: #fff;
  }

  .footer-logo{
    max-width: 150px;
  }